<button class="btn button-primary" routerLink="/characters">
  All Characters
</button>
<form class="charsheet">
  <header class="top-display">
    <section class="char-box">
      <label for="charname" class="char-name">Character Name</label
      ><input
        class="char-input"
        name="charname"
        placeholder="Thoradin Fireforge"
        value="{{ character.name }}"
      />
    </section>
    <section class="misc">
      <ul class="misc-list">
        <li class="misc-items">
          <label for="classlevel" class="margin-5">Class & Level</label
          ><input name="classlevel" placeholder="Paladin 2" class="b-none" />
        </li>
        <li class="misc-items">
          <label for="background" class="margin-5">Background</label
          ><input name="background" placeholder="Acolyte" class="b-none" />
        </li>
        <li class="misc-items">
          <label for="playername" class="margin-5">Player Name</label
          ><input
            name="playername"
            placeholder="Player McPlayerface"
            class="b-none"
          />
        </li>
        <li class="misc-items">
          <label for="race" class="margin-5">Race</label
          ><input name="race" placeholder="Half-elf" class="b-none" />
        </li>
        <li class="misc-items">
          <label for="alignment" class="margin-5">Alignment</label
          ><input name="alignment" placeholder="Lawful Good" class="b-none" />
        </li>
        <li class="misc-items">
          <label for="experiencepoints" class="margin-5"
            >Experience Points</label
          ><input name="experiencepoints" placeholder="3240" class="b-none" />
        </li>
      </ul>
    </section>
  </header>
  <main>
    <section>
      <section class="attributes">
        <div class="scores">
          <ul>
            <li>
              <div class="score">
                <label for="Strengthscore">Strength</label
                ><input
                  name="Strengthscore"
                  placeholder="10"
                  value="{{ character.attributes.strength }}"
                />
              </div>
              <div class="modifier">
                <p class="mod-display" placeholder="+0">
                  {{ genMod(character.attributes.strength) }}
                </p>
              </div>
            </li>
            <li>
              <div class="score">
                <label for="Dexterityscore">Dexterity</label
                ><input
                  name="Dexterityscore"
                  placeholder="10"
                  value="{{ character.attributes.dexterity }}"
                />
              </div>
              <div>
                <p class="mod-display" placeholder="+0">
                  {{ genMod(character.attributes.dexterity) }}
                </p>
              </div>
            </li>
            <li>
              <div class="score">
                <label for="Constitutionscore">Constitution</label
                ><input
                  name="Constitutionscore"
                  placeholder="10"
                  value="{{ character.attributes.constitution }}"
                />
              </div>
              <div>
                <p class="mod-display" placeholder="+0">
                  {{ genMod(character.attributes.constitution) }}
                </p>
              </div>
            </li>
            <li>
              <div class="score">
                <label for="Wisdomscore">Wisdom</label
                ><input
                  name="Wisdomscore"
                  placeholder="10"
                  value="{{ character.attributes.wisdom }}"
                />
              </div>
              <div>
                <p class="mod-display" placeholder="+0">
                  {{ genMod(character.attributes.wisdom) }}
                </p>
              </div>
            </li>
            <li>
              <div class="score">
                <label for="Intelligencescore">Intelligence</label
                ><input
                  name="Intelligencescore"
                  placeholder="10"
                  value="{{ character.attributes.intelligence }}"
                />
              </div>
              <div>
                <p class="mod-display" placeholder="+0">
                  {{ genMod(character.attributes.intelligence) }}
                </p>
              </div>
            </li>
            <li>
              <div class="score">
                <label for="Charismascore">Charisma</label
                ><input
                  name="Charismascore"
                  placeholder="10"
                  value="{{ character.attributes.charisma }}"
                />
              </div>
              <div>
                <p class="mod-display" placeholder="+0">
                  {{ genMod(character.attributes.charisma) }}
                </p>
              </div>
            </li>
          </ul>
        </div>
        <div class="attr-applications">
          <div class="inspiration box">
            <div class="label-container">
              <label for="inspiration">Inspiration</label>
            </div>
            <input name="inspiration" type="checkbox" />
          </div>
          <div class="proficiencybonus box">
            <div class="label-container">
              <label for="proficiencybonus">Proficiency Bonus</label>
            </div>
            <input
              name="proficiencybonus"
              placeholder="+2"
              value="+{{ profBonus }}"
            />
          </div>
          <div class="saves list-section box">
            <ul>
              <li>
                <label for="Strength-save">Strength</label>
                <p
                  class="prof-label"
                  name="Strength-save"
                  placeholder="+0"
                  #strengthMod
                >
                  {{
                    genScores(
                      character.attributes.strength,
                      character.proficiencies.strength,
                      strengthMod
                    )
                  }}
                </p>
                <input
                  name="Strength-save-prof"
                  type="checkbox"
                  class="proficiency-check"
                  (change)="
                    genScores(
                      character.attributes.strength,
                      character.proficiencies.strength,
                      strengthMod
                    );
                    character.proficiencies.strength =
                      !character.proficiencies.strength
                  "
                  [checked]="character.proficiencies.strength"
                />
              </li>
              <li>
                <label for="Dexterity-save">Dexterity</label>
                <p
                  class="prof-label"
                  name="Dexterity-save"
                  placeholder="+0"
                  #dexterityMod
                >
                  {{
                    genScores(
                      character.attributes.dexterity,
                      character.proficiencies.dexterity,
                      dexterityMod
                    )
                  }}
                </p>
                <input
                  name="Dexterity-save-prof"
                  type="checkbox"
                  class="proficiency-check"
                  (change)="
                    genScores(
                      character.attributes.dexterity,
                      character.proficiencies.dexterity,
                      dexterityMod
                    );
                    character.proficiencies.dexterity =
                      !character.proficiencies.dexterity
                  "
                  [checked]="character.proficiencies.dexterity"
                />
              </li>
              <li>
                <label for="Constitution-save">Constitution</label>
                <p
                  class="prof-label"
                  name="Constitution-save"
                  placeholder="+0"
                  #constitutionMod
                >
                  {{
                    genScores(
                      character.attributes.constitution,
                      character.proficiencies.constitution,
                      constitutionMod
                    )
                  }}
                </p>
                <input
                  name="Constitution-save-prof"
                  type="checkbox"
                  class="proficiency-check"
                  (change)="
                    genScores(
                      character.attributes.constitution,
                      character.proficiencies.constitution,
                      constitutionMod
                    );
                    character.proficiencies.constitution =
                      !character.proficiencies.constitution
                  "
                  [checked]="character.proficiencies.constitution"
                />
              </li>
              <li>
                <label for="Wisdom-save">Wisdom</label>
                <p
                  class="prof-label"
                  name="Wisdom-save"
                  placeholder="+0"
                  #wisdomMod
                >
                  {{
                    genScores(
                      character.attributes.wisdom,
                      character.proficiencies.wisdom,
                      wisdomMod
                    )
                  }}
                </p>
                <input
                  name="Wisdom-save-prof"
                  type="checkbox"
                  class="proficiency-check"
                  (change)="
                    genScores(
                      character.attributes.wisdom,
                      character.proficiencies.wisdom,
                      wisdomMod
                    );
                    character.proficiencies.wisdom =
                      !character.proficiencies.wisdom
                  "
                  [checked]="character.proficiencies.wisdom"
                />
              </li>
              <li>
                <label for="Intelligence-save">Intelligence</label>
                <p
                  name="Intelligence-save"
                  placeholder="+0"
                  class="prof-label"
                  #intelligenceMod
                >
                  {{
                    genScores(
                      character.attributes.intelligence,
                      character.proficiencies.intelligence,
                      intelligenceMod
                    )
                  }}
                </p>
                <input
                  name="Intelligence-save-prof"
                  type="checkbox"
                  class="proficiency-check"
                  (change)="
                    genScores(
                      character.attributes.intelligence,
                      character.proficiencies.intelligence,
                      intelligenceMod
                    );
                    character.proficiencies.intelligence =
                      !character.proficiencies.intelligence
                  "
                  [checked]="character.proficiencies.intelligence"
                />
              </li>
              <li>
                <label for="Charisma-save">Charisma</label>
                <p
                  class="prof-label"
                  name="Charisma-save"
                  placeholder="+0"
                  #charismaMod
                >
                  {{
                    genScores(
                      character.attributes.charisma,
                      character.proficiencies.charisma,
                      charismaMod
                    )
                  }}
                </p>
                <input
                  name="Charisma-save-prof"
                  type="checkbox"
                  class="proficiency-check"
                  (change)="
                    genScores(
                      character.attributes.charisma,
                      character.proficiencies.charisma,
                      charismaMod
                    );
                    character.proficiencies.charisma =
                      !character.proficiencies.charisma
                  "
                  [checked]="character.proficiencies.charisma"
                />
              </li>
            </ul>
            <div class="label">Saving Throws</div>
          </div>
          <div class="skills list-section box">
            <ul>
              <li>
                <label for="Acrobatics"
                  >Acrobatics <span class="skill">(Dex)</span></label
                >
                <p
                  class="prof-label"
                  name="Acrobatics"
                  placeholder="+0"
                  #acroMod
                >
                  {{
                    genScores(
                      character.attributes.dexterity,
                      character.proficiencies.acrobatics,
                      acroMod
                    )
                  }}
                </p>
                <input
                  id="acro"
                  name="Acrobatics-prof"
                  type="checkbox"
                  class="proficiency-check"
                  (change)="
                    genScores(
                      character.attributes.dexterity,
                      character.proficiencies.acrobatics,
                      acroMod
                    );
                    character.proficiencies.acrobatics =
                      !character.proficiencies.acrobatics
                  "
                  [checked]="character.proficiencies.acrobatics"
                />
              </li>
              <li>
                <label for="Animal Handling"
                  >Animal Handling <span class="skill">(Wis)</span></label
                >
                <p
                  class="prof-label"
                  name="Animal Handling"
                  placeholder="+0"
                  #animalMod
                >
                  {{
                    genScores(
                      character.attributes.wisdom,
                      character.proficiencies.animalHandling,
                      animalMod
                    )
                  }}
                </p>
                <input
                  name="Animal Handling-prof"
                  type="checkbox"
                  class="proficiency-check"
                  (change)="
                    genScores(
                      character.attributes.wisdom,
                      character.proficiencies.animalHandling,
                      animalMod
                    );
                    character.proficiencies.animalHandling =
                      !character.proficiencies.animalHandling
                  "
                  [checked]="character.proficiencies.animalHandling"
                />
              </li>
              <li>
                <label for="Arcana"
                  >Arcana <span class="skill">(Int)</span></label
                >
                <p class="prof-label" name="Arcana" placeholder="+0" #arcanaMod>
                  {{
                    genScores(
                      character.attributes.intelligence,
                      character.proficiencies.arcana,
                      arcanaMod
                    )
                  }}
                </p>
                <input
                  name="Arcana-prof"
                  type="checkbox"
                  class="proficiency-check"
                  (change)="
                    genScores(
                      character.attributes.intelligence,
                      character.proficiencies.arcana,
                      arcanaMod
                    );
                    character.proficiencies.arcana =
                      !character.proficiencies.arcana
                  "
                  [checked]="character.proficiencies.arcana"
                />
              </li>
              <li>
                <label for="Athletics"
                  >Athletics <span class="skill">(Str)</span></label
                >
                <p
                  class="prof-label"
                  name="Athletics"
                  placeholder="+0"
                  #athleticsMod
                >
                  {{
                    genScores(
                      character.attributes.strength,
                      character.proficiencies.athlethics,
                      athleticsMod
                    )
                  }}
                </p>
                <input
                  name="Athletics-prof"
                  type="checkbox"
                  class="proficiency-check"
                  (change)="
                    genScores(
                      character.attributes.strength,
                      character.proficiencies.athlethics,
                      athleticsMod
                    );
                    character.proficiencies.athlethics =
                      !character.proficiencies.athlethics
                  "
                  [checked]="character.proficiencies.athlethics"
                />
              </li>
              <li>
                <label for="Deception"
                  >Deception <span class="skill">(Cha)</span></label
                >
                <p
                  class="prof-label"
                  name="Deception"
                  placeholder="+0"
                  #deceptionMod
                >
                  {{
                    genScores(
                      character.attributes.charisma,
                      character.proficiencies.deception,
                      deceptionMod
                    )
                  }}
                </p>
                <input
                  name="Deception-prof"
                  type="checkbox"
                  class="proficiency-check"
                  (change)="
                    genScores(
                      character.attributes.charisma,
                      character.proficiencies.deception,
                      deceptionMod
                    );
                    character.proficiencies.deception =
                      !character.proficiencies.deception
                  "
                  [checked]="character.proficiencies.deception"
                />
              </li>
              <li>
                <label for="History"
                  >History <span class="skill">(Int)</span></label
                >
                <p
                  class="prof-label"
                  name="History"
                  placeholder="+0"
                  #historyMod
                >
                  {{
                    genScores(
                      character.attributes.intelligence,
                      character.proficiencies.history,
                      historyMod
                    )
                  }}
                </p>
                <input
                  name="History-prof"
                  type="checkbox"
                  class="proficiency-check"
                  (change)="
                    genScores(
                      character.attributes.intelligence,
                      character.proficiencies.history,
                      historyMod
                    );
                    character.proficiencies.history =
                      !character.proficiencies.history
                  "
                  [checked]="character.proficiencies.history"
                />
              </li>
              <li>
                <label for="Insight"
                  >Insight <span class="skill">(Wis)</span></label
                >
                <p
                  class="prof-label"
                  name="Insight"
                  placeholder="+0"
                  #insightMod
                >
                  {{
                    genScores(
                      character.attributes.wisdom,
                      character.proficiencies.insight,
                      insightMod
                    )
                  }}
                </p>
                <input
                  name="Insight-prof"
                  type="checkbox"
                  class="proficiency-check"
                  (change)="
                    genScores(
                      character.attributes.wisdom,
                      character.proficiencies.insight,
                      insightMod
                    );
                    character.proficiencies.insight =
                      !character.proficiencies.insight
                  "
                  [checked]="character.proficiencies.insight"
                />
              </li>
              <li>
                <label for="Intimidation"
                  >Intimidation <span class="skill">(Cha)</span></label
                >
                <p
                  class="prof-label"
                  name="Intimidation"
                  placeholder="+0"
                  #intimidationMod
                >
                  {{
                    genScores(
                      character.attributes.charisma,
                      character.proficiencies.intimidation,
                      intimidationMod
                    )
                  }}
                </p>
                <input
                  name="Intimidation-prof"
                  type="checkbox"
                  class="proficiency-check"
                  (change)="
                    genScores(
                      character.attributes.charisma,
                      character.proficiencies.intimidation,
                      intimidationMod
                    );
                    character.proficiencies.intimidation =
                      !character.proficiencies.intimidation
                  "
                  [checked]="character.proficiencies.intimidation"
                />
              </li>
              <li>
                <label for="Investigation"
                  >Investigation <span class="skill">(Int)</span></label
                >
                <p
                  class="prof-label"
                  name="Investigation"
                  placeholder="+0"
                  #investigationMod
                >
                  {{
                    genScores(
                      character.attributes.intelligence,
                      character.proficiencies.investigation,
                      investigationMod
                    )
                  }}
                </p>
                <input
                  name="Investigation-prof"
                  type="checkbox"
                  class="proficiency-check"
                  (change)="
                    genScores(
                      character.attributes.intelligence,
                      character.proficiencies.investigation,
                      investigationMod
                    );
                    character.proficiencies.investigation =
                      !character.proficiencies.investigation
                  "
                  [checked]="character.proficiencies.investigation"
                />
              </li>
              <li>
                <label for="Medicine"
                  >Medicine <span class="skill">(Wis)</span></label
                >
                <p
                  class="prof-label"
                  name="Medicine"
                  placeholder="+0"
                  #medicineMod
                >
                  {{
                    genScores(
                      character.attributes.wisdom,
                      character.proficiencies.medicine,
                      medicineMod
                    )
                  }}
                </p>
                <input
                  name="Medicine-prof"
                  type="checkbox"
                  class="proficiency-check"
                  (change)="
                    genScores(
                      character.attributes.wisdom,
                      character.proficiencies.medicine,
                      medicineMod
                    );
                    character.proficiencies.medicine =
                      !character.proficiencies.medicine
                  "
                  [checked]="character.proficiencies.medicine"
                />
              </li>
              <li>
                <label for="Nature"
                  >Nature <span class="skill">(Int)</span></label
                >
                <p class="prof-label" name="Nature" placeholder="+0" #natureMod>
                  {{
                    genScores(
                      character.attributes.intelligence,
                      character.proficiencies.nature,
                      natureMod
                    )
                  }}
                </p>
                <input
                  name="Nature-prof"
                  type="checkbox"
                  class="proficiency-check"
                  (change)="
                    genScores(
                      character.attributes.intelligence,
                      character.proficiencies.nature,
                      natureMod
                    );
                    character.proficiencies.nature =
                      !character.proficiencies.nature
                  "
                  [checked]="character.proficiencies.nature"
                />
              </li>
              <li>
                <label for="Perception"
                  >Perception <span class="skill">(Wis)</span></label
                >
                <p
                  class="prof-label"
                  name="Perception"
                  placeholder="+0"
                  #perceptionMod
                >
                  {{
                    genScores(
                      character.attributes.wisdom,
                      character.proficiencies.perception,
                      perceptionMod
                    )
                  }}
                </p>
                <input
                  name="Perception-prof"
                  type="checkbox"
                  class="proficiency-check"
                  (change)="
                    genScores(
                      character.attributes.wisdom,
                      character.proficiencies.perception,
                      perceptionMod
                    );
                    character.proficiencies.perception =
                      !character.proficiencies.perception
                  "
                  [checked]="character.proficiencies.perception"
                />
              </li>
              <li>
                <label for="Performance"
                  >Performance <span class="skill">(Cha)</span></label
                >
                <p
                  class="prof-label"
                  name="Performance"
                  placeholder="+0"
                  #performanceMod
                >
                  {{
                    genScores(
                      character.attributes.charisma,
                      character.proficiencies.performance,
                      performanceMod
                    )
                  }}
                </p>
                <input
                  name="Performance-prof"
                  type="checkbox"
                  class="proficiency-check"
                  (change)="
                    genScores(
                      character.attributes.charisma,
                      character.proficiencies.performance,
                      performanceMod
                    );
                    character.proficiencies.performance =
                      !character.proficiencies.performance
                  "
                  [checked]="character.proficiencies.performance"
                />
              </li>
              <li>
                <label for="Persuasion"
                  >Persuasion <span class="skill">(Cha)</span></label
                >
                <p
                  class="prof-label"
                  name="Persuasion"
                  placeholder="+0"
                  #persuasionMod
                >
                  {{
                    genScores(
                      character.attributes.charisma,
                      character.proficiencies.persuasion,
                      persuasionMod
                    )
                  }}
                </p>
                <input
                  name="Persuasion-prof"
                  type="checkbox"
                  class="proficiency-check"
                  (change)="
                    genScores(
                      character.attributes.charisma,
                      character.proficiencies.persuasion,
                      persuasionMod
                    );
                    character.proficiencies.persuasion =
                      !character.proficiencies.persuasion
                  "
                  [checked]="character.proficiencies.persuasion"
                />
              </li>
              <li>
                <label for="Religion"
                  >Religion <span class="skill">(Int)</span></label
                >
                <p
                  class="prof-label"
                  name="Religion"
                  placeholder="+0"
                  #religionMod
                >
                  {{
                    genScores(
                      character.attributes.intelligence,
                      character.proficiencies.religion,
                      religionMod
                    )
                  }}
                </p>
                <input
                  name="Religion-prof"
                  type="checkbox"
                  class="proficiency-check"
                  (change)="
                    genScores(
                      character.attributes.intelligence,
                      character.proficiencies.religion,
                      religionMod
                    );
                    character.proficiencies.religion =
                      !character.proficiencies.religion
                  "
                  [checked]="character.proficiencies.religion"
                />
              </li>
              <li>
                <label for="Sleight of Hand"
                  >Sleight of Hand <span class="skill">(Dex)</span></label
                >
                <p
                  class="prof-label"
                  name="Sleight of Hand"
                  placeholder="+0"
                  #sleightMod
                >
                  {{
                    genScores(
                      character.attributes.dexterity,
                      character.proficiencies.sleightOfHand,
                      sleightMod
                    )
                  }}
                </p>
                <input
                  name="Sleight of Hand-prof"
                  type="checkbox"
                  class="proficiency-check"
                  (change)="
                    genScores(
                      character.attributes.dexterity,
                      character.proficiencies.sleightOfHand,
                      sleightMod
                    );
                    character.proficiencies.sleightOfHand =
                      !character.proficiencies.sleightOfHand
                  "
                  [checked]="character.proficiencies.sleightOfHand"
                />
              </li>
              <li>
                <label for="Stealth"
                  >Stealth <span class="skill">(Dex)</span></label
                >
                <p
                  class="prof-label"
                  name="Stealth"
                  placeholder="+0"
                  #stealthMod
                >
                  {{
                    genScores(
                      character.attributes.dexterity,
                      character.proficiencies.stealth,
                      stealthMod
                    )
                  }}
                </p>
                <input
                  name="Stealth-prof"
                  type="checkbox"
                  class="proficiency-check"
                  (change)="
                    genScores(
                      character.attributes.dexterity,
                      character.proficiencies.stealth,
                      stealthMod
                    );
                    character.proficiencies.stealth =
                      !character.proficiencies.stealth
                  "
                  [checked]="character.proficiencies.stealth"
                />
              </li>
              <li>
                <label for="Survival"
                  >Survival <span class="skill">(Wis)</span></label
                >
                <p
                  class="prof-label"
                  name="Survival"
                  placeholder="+0"
                  #survivalMod
                >
                  {{
                    genScores(
                      character.attributes.wisdom,
                      character.proficiencies.survival,
                      survivalMod
                    )
                  }}
                </p>
                <input
                  name="Survival-prof"
                  type="checkbox"
                  class="proficiency-check"
                  (change)="
                    genScores(
                      character.attributes.wisdom,
                      character.proficiencies.survival,
                      survivalMod
                    );
                    character.proficiencies.survival =
                      !character.proficiencies.survival
                  "
                  [checked]="character.proficiencies.survival"
                />
              </li>
            </ul>
            <div class="label">Skills</div>
          </div>
        </div>
      </section>
      <div class="passive-perception box">
        <div class="label-container">
          <label for="passiveperception">Passive Wisdom (Perception)</label>
        </div>
        <input name="passiveperception" placeholder="10" />
      </div>
      <div class="otherprofs box textblock">
        <label for="otherprofs">Other Proficiencies and Languages</label
        ><textarea
          name="otherprofs"
          value="{{ character.otherProficiencies }}"
        ></textarea>
      </div>
    </section>
    <section>
      <section class="combat">
        <div class="armorclass">
          <div>
            <label for="ac" class="combat-label">Armor Class</label
            ><input name="ac" placeholder="10" type="text" />
          </div>
        </div>
        <div class="initiative">
          <div>
            <label for="initiative" class="combat-label">Initiative</label
            ><input name="initiative" placeholder="+0" type="text" />
          </div>
        </div>
        <div class="speed">
          <div>
            <label for="speed" class="combat-label">Speed</label
            ><input name="speed" placeholder="30" type="text" />
          </div>
        </div>
        <div class="hp">
          <div class="regular">
            <div class="max">
              <label for="maxhp">Hit Point Maximum</label
              ><input name="maxhp" placeholder="10" type="text" />
            </div>
            <div class="current">
              <label for="currenthp">Current Hit Points</label
              ><input name="currenthp" type="text" />
            </div>
          </div>
          <div class="temporary">
            <label for="temphp">Temporary Hit Points</label
            ><input name="temphp" type="text" />
          </div>
        </div>
        <div class="hitdice">
          <div>
            <div class="total">
              <label for="totalhd">Total</label
              ><input name="totalhd" placeholder="2d10" type="text" />
            </div>
            <div class="remaining">
              <label for="remaininghd">Hit Dice</label
              ><input name="remaininghd" type="text" />
            </div>
          </div>
        </div>
        <div class="deathsaves">
          <div>
            <div class="label">
              <label>Death Saves</label>
            </div>
            <div class="marks">
              <div class="deathsuccesses">
                <label class="death-label">Successes</label>
                <div class="bubbles">
                  <input
                    name="deathsuccess1"
                    type="checkbox"
                    class="deathsaves"
                  />
                  <input
                    name="deathsuccess2"
                    type="checkbox"
                    class="deathsaves"
                  />
                  <input
                    name="deathsuccess3"
                    type="checkbox"
                    class="deathsaves"
                  />
                </div>
              </div>
              <div class="deathfails">
                <label class="death-label">Failures</label>
                <div class="bubbles">
                  <input name="deathfail1" type="checkbox" class="deathsaves" />
                  <input name="deathfail2" type="checkbox" class="deathsaves" />
                  <input name="deathfail3" type="checkbox" class="deathsaves" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="attacksandspellcasting">
        <div>
          <label class="flex-label">Attacks & Spellcasting</label>
          <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>Atk Bonus</th>
                <th>Damage/Type</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <input name="atkname1" type="text" />
                </td>
                <td>
                  <input name="atkbonus1" type="text" />
                </td>
                <td>
                  <input name="atkdamage1" type="text" />
                </td>
              </tr>
              <tr>
                <td>
                  <input name="atkname2" type="text" />
                </td>
                <td>
                  <input name="atkbonus2" type="text" />
                </td>
                <td>
                  <input name="atkdamage2" type="text" />
                </td>
              </tr>
              <tr>
                <td>
                  <input name="atkname3" type="text" />
                </td>
                <td>
                  <input name="atkbonus3" type="text" />
                </td>
                <td>
                  <input name="atkdamage3" type="text" />
                </td>
              </tr>
            </tbody>
          </table>
          <textarea class="b-none"></textarea>
        </div>
      </section>
      <section class="equipment">
        <div>
          <label class="flex-label">Equipment</label>
          <div class="money">
            <ul>
              <li><label for="cp">cp</label><input name="cp" /></li>
              <li><label for="sp">sp</label><input name="sp" /></li>
              <li><label for="ep">ep</label><input name="ep" /></li>
              <li><label for="gp">gp</label><input name="gp" /></li>
              <li><label for="pp">pp</label><input name="pp" /></li>
            </ul>
          </div>
          <textarea placeholder="Equipment list here"></textarea>
        </div>
      </section>
    </section>
    <section>
      <section class="flavor">
        <div class="personality">
          <label for="personality">Personality</label
          ><textarea name="personality"></textarea>
        </div>
        <div class="ideals">
          <label for="ideals">Ideals</label><textarea name="ideals"></textarea>
        </div>
        <div class="bonds">
          <label for="bonds">Bonds</label><textarea name="bonds"></textarea>
        </div>
        <div class="flaws">
          <label for="flaws">Flaws</label><textarea name="flaws"></textarea>
        </div>
      </section>
      <section class="features">
        <div>
          <label for="features" class="section-label">Features & Traits</label
          ><textarea name="features"></textarea>
        </div>
      </section>
    </section>
  </main>
</form>
