<div *ngIf="true">
  <p *ngIf="hasChoicesLeft()" class="choose-num">
    Choose {{ this.proficiencyChoices.choose }}
  </p>

  <form
    [formGroup]="proficienciesForm"
    (ngSubmit)="onSubmitProficiencyChoices()"
  >
    <section class="flex-col" *ngIf="hasChoicesLeft()">
      <label
        formArrayName="proficiencies"
        *ngFor="
          let proficiency of proficienciesFormArray.controls;
          let i = index
        "
      >
        <input type="checkbox" [formControlName]="i" />
        {{ proficiencyChoiceArray[i] }}
      </label>
    </section>

    <br />

    <button
      *ngIf="!hasChoicesLeft()"
      type="button"
      (click)="resetChoices()"
      class="mr-2"
    >
      Re-Choose
    </button>
    <button
      [disabled]="hasSubmit"
      *ngIf="!hasChoicesLeft()"
      type="submit"
      class="btn btn-success"
    >
      Submit
    </button>
  </form>
</div>
