<div *ngIf="true">
  <form
    [formGroup]="proficienciesForm"
    (ngSubmit)="onSubmitProficiencyChoices()"
  >
    <mat-stepper>
      <mat-step *ngFor="let choices of proficiencyGroupArray; let i = index">
        <p>Choose {{ proficiencyGroupArray[i].choose }}</p>
        <section *ngFor="let choice of proficiencyGroupArray[i].from.options">
          <mat-checkbox>{{ choice.item.name }}</mat-checkbox>
        </section>
      </mat-step>

      <br />

      <button
        *ngIf="!hasChoicesLeft()"
        type="button"
        (click)="resetChoices()"
        class="mr-2"
      >
        Re-Choose
      </button>
      <button
        [disabled]="hasSubmit"
        *ngIf="!hasChoicesLeft()"
        type="submit"
        class="btn btn-success"
      >
        Submit
      </button>
    </mat-stepper>
  </form>
</div>
