<form [formGroup]="reactiveForm" (ngSubmit)="onFormSubmit()">
  <div class="col-md-12">
    <div class="form-group">
      <label for="name">Character Name</label>
      <input
        type="text"
        id="name"
        name="name"
        class="form-control"
        formControlName="name"
        required
      />
      <span
        class="help-block text-danger"
        *ngIf="
          reactiveForm.controls['name'].touched &&
          !reactiveForm.controls['name'].valid
        "
        >Please enter a valid name!</span
      >
    </div>

    <div class="form-group">
      <label for="class">Class</label>
      <select
        id="class"
        name="class"
        class="form-control"
        formControlName="class"
        required
      >
        <option disabled selected value>Please select a class</option>
        <option value="Barbarian">Barbarian</option>
        <option value="Bard">Bard</option>
        <option value="Cleric">Cleric</option>
        <option value="Druid">Druid</option>
        <option value="Fighter">Fighter</option>
        <option value="Monk">Monk</option>
        <option value="Paladin">Paladin</option>
        <option value="Ranger">Ranger</option>
        <option value="Rogue">Rogue</option>
        <option value="Sorcerer">Sorcerer</option>
        <option value="Wizard">Wizard</option>
        <option value="Warlock">Warlock</option>
      </select>
      <span
        class="help-block text-danger"
        *ngIf="
          reactiveForm.controls['class'].touched &&
          !reactiveForm.controls['class'].valid
        "
        >Please select a class!</span
      >
    </div>

    <div class="form-group numInput">
      <label for="level">Level</label>
      <input
        type="number"
        min="1"
        max="20"
        id="level"
        name="level"
        class="form-control"
        formControlName="level"
        required
      />
      <span
        class="help-block text-danger"
        *ngIf="
          reactiveForm.controls['level'].touched &&
          !reactiveForm.controls['level'].valid
        "
        >Please input your level!</span
      >
    </div>

    <div class="form-group numInput">
      <label for="strength">Strength</label>
      <input
        type="number"
        id="strength"
        name="strength"
        class="form-control"
        formControlName="strength"
        required
      />
      <span
        class="help-block text-danger"
        *ngIf="
          reactiveForm.controls['strength'].touched &&
          !reactiveForm.controls['strength'].valid
        "
        >Please input your strength!</span
      >
    </div>

    <div class="form-group numInput">
      <label for="dexterity">Dexterity</label>
      <input
        type="number"
        id="dexterity"
        name="dexterity"
        class="form-control"
        formControlName="dexterity"
        required
      />
      <span
        class="help-block text-danger"
        *ngIf="
          reactiveForm.controls['dexterity'].touched &&
          !reactiveForm.controls['dexterity'].valid
        "
        >Please input your dexterity!</span
      >
    </div>

    <div class="form-group numInput">
      <label for="consitution">Constitution</label>
      <input
        type="number"
        id="constitution"
        name="constitution"
        class="form-control"
        formControlName="constitution"
        required
      />
      <span
        class="help-block text-danger"
        *ngIf="
          reactiveForm.controls['constitution'].touched &&
          !reactiveForm.controls['consitution'].valid
        "
        >Please input your constitution!</span
      >
    </div>

    <div class="form-group numInput">
      <label for="wisdom">Wisdom</label>
      <input
        type="number"
        id="wisdom"
        name="wisdom"
        class="form-control"
        formControlName="wisdom"
        required
      />
      <span
        class="help-block text-danger"
        *ngIf="
          reactiveForm.controls['wisdom'].touched &&
          !reactiveForm.controls['wisdom'].valid
        "
        >Please input your wisdom!</span
      >
    </div>

    <div class="form-group numInput">
      <label for="intelligence">Intelligence</label>
      <input
        type="number"
        id="intelligence"
        name="intelligence"
        class="form-control"
        formControlName="intelligence"
        required
      />
      <span
        class="help-block text-danger"
        *ngIf="
          reactiveForm.controls['intelligence'].touched &&
          !reactiveForm.controls['intelligence'].valid
        "
        >Please input your intelligence!</span
      >
    </div>

    <div class="form-group numInput">
      <label for="charisma">Charisma</label>
      <input
        type="number"
        id="charisma"
        name="charisma"
        class="form-control"
        formControlName="charisma"
        required
      />
      <span
        class="help-block text-danger"
        *ngIf="
          reactiveForm.controls['charisma'].touched &&
          !reactiveForm.controls['charisma'].valid
        "
        >Please input your Charisma!</span
      >
    </div>
  </div>
  <button
    type="submit"
    class="btn btn-primary"
    [disabled]="!reactiveForm.valid"
  >
    Save Character</button
  ><br />

  <button type="button" class="btn btn-warning" (click)="onResetForm()">
    Cancel
  </button>
</form>
